In [5]:
from pandas_datareader import data

df=data.DataReader('AAPL','yahoo','2022/03/1','2022/03/31')

df[::-1].head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-03-28,175.729996,172.000000,172.169998,175.600006,87891770,175.600006
2022-03-28,175.729996,172.000000,172.169998,175.600006,90263900,175.600006
2022-03-25,175.279999,172.750000,173.880005,174.720001,80470700,174.720001
2022-03-24,174.139999,170.210007,171.059998,174.070007,90131400,174.070007
2022-03-23,172.639999,167.649994,167.990005,170.210007,98062700,170.210007